{% extends 'partials/base.html' %}
{% block title %}About Page {% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
    <div class="container ">
        <div class="row mt-5 pt-3">
            <div class="col-md-8 offset-md-2">
                <div class="card my-3 shadow">
                    <div class="card-body"> 
                        <h4>About Us</h4>
                        <p>
                            Welcome to ThinkBig Blogs! We're passionate about "traveling the world," "delicious recipes," "tech innovations". Our mission is to provide you with insightful, engaging, and inspiring content that fuels your curiosity and enhances your everyday life. Whether you're here to discover new ideas, gain practical tips, or simply enjoy a good read, we're committed to delivering high-quality articles that resonate with you. Thank you for joining us on this journey, and we hope you find our blog a source of inspiration and knowledge. Happy reading!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}