{% extends 'partials/base.html' %}
{% block title %}Logout Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="alert alert-info" style="margin-bottom: 50px;">
                        You have been logged out 
                    </div>
                    <a href="{%url 'users-login'%}" style="height: fit-content;">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}